*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background : #f5f7fa;
    padding-left:  20px; 
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.wrapper{
    background : #fff;
    display : flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar{
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.my-photo{
    width: 370px;
    height: 350px;
}
.about-me-container{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.contacts{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    
}
.contacts-list {
list-style: none;

}
.contacts-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.cotacts-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #7c828c;
}
.cotacts-link-type{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;  
}
.tech-skills{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}
.tech-skils-h3{
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 20px;
}
.tech-skils-list{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color:#ff6b08;
}
.tech-skils-text{
    color: #fff;
    opacity: 0,5;
}
.soft-skill{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}
.soft-skill-h3{
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 20px;
}
.soft-skill-ul{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color:#ff6b08;
}
.soft-skill-text{
    color: #fff;
    opacity: 0,5;
}
.profession{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    }
.name{
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}
.about-me{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.info{
    margin-bottom: 65px;
}
.about-me-h3{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.tech-name{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.prodgects-li{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 17px;
}
.prodgects-container{
    margin-bottom: 55px;
}
.profession-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.profession-company{
    color: #ff6b08;
}
.profession-time{
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
.profession-devider{
    color: black;
}
.profession-duties{
  margin-top: 14px;
  margin-bottom: 25px;
}
.profession-duties-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
    
}
.university{
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}
.faculty{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}
footer {
   margin-top: 30px;
}
.logo {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto 
    
}